.offer {
  height: 529px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 113px;
  margin-bottom: 97px;
}

.offer-wrapper {
  display: flex;
  width: 100%;
  max-width: 1140px;
}

.offer-left {
  background-image: url(../../../assets/images/offer-4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 0px 70px 50px rgba(0, 0, 0, 0.6);
  width: 100%;
}

.offer-caption {
  display: flex;
  flex-direction: column;
  margin-top: 146px;
  margin-left: 39px;
}

.offer-caption__title {
  font-size: 53.5px;
  letter-spacing: 1.34px;
  font-family: 'Lato-Bold';
  color: #ffffff;
  text-transform: uppercase;
}

.offer-caption__title_mod {
  color: #f16d7f;
}

.offer-caption__subtitle {
  font-size: 32px;
  letter-spacing: 0.8px;
  font-family: 'Lato-Bold';
  color: #ffffff;
  text-transform: uppercase;
}

.offer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #222224;
  min-width: 375px;
}

.offer-item {
  display: flex;

  img {
    display: block;
  }
}

.offer-item__image {
  margin-right: 31px;
}

.offer-item__plus__title {
  font-size: 20px;
  font-family: 'Lato-Bold';
  letter-spacing: 0.5px;
  color: #fbfbfb;
  margin: 0;
  margin-bottom: 17px;
}

.offer-item__plus__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.35px;
  font-family: 'Lato-Light';
  color: #fbfbfb;
  margin: 0;
  width: 219px;
}
