@import '../variables';

.banner {
  display: flex;
  justify-content: center;
  padding: 65px 0;
  background-color: #f8f3f4;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
  }

  &-caption {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Lato-Black';
    font-size: 24px;
    color: $pinkColor;
  }

  &-navigation {
    &__list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__item {
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Lato-Light';
        font-size: 14px;
        color: #636363;
        @include transition(color, 0.3s);

        &:hover {
          color: $pinkColor;
        }
      }
    }

    &__item_active {
      a {
        font-family: 'Lato-Bold';
        color: $pinkColor;
      }
    }
  }
}
