@import '../variables';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;

  &-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 26px;
  }

  &-block {
    display: flex;
    align-items: center;
  }

  &-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $blackColor;

    &:hover {
      img {
        @include transformRotate(360deg);
      }
    }

    &__image {
      margin: 0;

      img {
        display: block;
        @include transition(transform, 0.3s);
      }
    }

    &__title {
      margin-left: 13px;
      text-transform: uppercase;
      font-family: 'Lato-Light';
      font-size: 27px;
      letter-spacing: 0.68px;
      color: $blackColor;

      &:last-child {
        margin-left: 0;
      }
    }

    &__title_last-letter {
      font-family: 'Lato-Black';
      color: $pinkColor;
    }
  }

  &-search {
    display: flex;
    align-items: center;
    height: 38px;
    margin-left: 37px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;

    &__form {
      position: relative;
      display: flex;
      height: 100%;

      &__fieldset {
        display: flex;
        align-items: center;

        &:first-child {
          cursor: pointer;
          padding-left: 15px;
          padding-right: 9px;
          background-color: #f9f9f9;
          @include transition(background-color, 0.3s);

          label {
            cursor: pointer;
            margin-right: 8px;
            font-family: 'Lato-Light';
            font-size: 14px;
            letter-spacing: 0.35px;
            color: $blackColor;
          }

          i {
            cursor: pointer;
            color: #838383;
          }

          &:hover {
            background-color: hoverColor(#f9f9f9);
          }
        }
      }

      &__input-browse {
        display: none;
      }

      /*  &__input-browse:checked ~ #block-browse {
        display: flex;
      } */

      &__browse {
        position: absolute;
        top: 36px;
        left: 0;
        display: none;
        flex-direction: column;
        background-color: $whiteColor;
        border-radius: 5px;
        border: 1px solid #e6e6e6;
        padding: 19px 15px;
        width: 262px;
      }

      /* .rectangle {
        position: absolute;
      } */

      &__container {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        span {
          text-transform: uppercase;
          padding-bottom: 10px;
          border-bottom: 1px solid #e8e8e8;
          margin-bottom: 16px;
          font-size: 14px;
          letter-spacing: 0.35px;
          color: #232323;
        }
      }

      &__block {
        display: flex;
        flex-direction: column;
        margin-left: 7px;

        a {
          text-decoration: none;
          margin-bottom: 18px;
          font-size: 14px;
          letter-spacing: 0.35px;
          color: #4f4f4f;
          @include transition(color, 0.3s);

          &:last-child {
            margin-bottom: 0;
          }

          &:hover {
            color: $pinkColor;
          }
        }
      }

      input {
        width: 280px;
        height: 100%;
        padding-left: 14px;
        outline: none;
        border: none;
        border-left: solid 1px #e6e6e6;
        border-right: solid 1px #e6e6e6;
        font-family: 'Lato-Light';
        font-size: 14px;
        letter-spacing: 0.35px;
        color: $blackColor;
        @include transition(background-color, 0.3s);

        &:focus {
          background-color: darken($whiteColor, 2%);
        }

        &::placeholder {
          color: #a4a4a4;
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37px;
        height: 100%;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: $whiteColor;
        @include transition(background-color, 0.3s);

        &:hover {
          background-color: hoverColor($whiteColor);
        }

        &:active {
          background-color: activeColor($whiteColor);
        }

        i {
          color: #a4a4a4;

          &::before {
            display: block;
          }
        }
      }
    }
  }

  &-cart {
    position: relative;

    svg {
      display: block;
    }

    &__container {
      position: absolute;
      top: 50px;
      left: -10px;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      background-color: $whiteColor;
      border: 1px solid #e6e6e6;
      padding: 19px 15px;
      width: 262px;
    }

    &__block {
      margin-bottom: 19px;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 16px;
      border-bottom: 1px solid #e6e6e6;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      div {
        display: flex;
        justify-content: center;

        figure {
          width: 72px;
          height: 85px;
          margin: 0;
          margin-right: 14px;
          img {
            display: block;
          }
        }

        div {
          display: flex;
          flex-direction: column;

          .stars {
            display: flex;

            i {
              font-size: 12px;
              color: #e4af48;
            }
          }

          span {
            margin-bottom: 10px;

            &:first-child {
              font-family: 'Lato-Bold';
              font-size: 16px;
              color: $blackColor;
            }

            &:last-child {
              font-size: 14px;
              color: #f16d7f;
              margin-bottom: 0;
            }
          }
        }
      }

      button {
        border: none;
        padding: 0;
        background-color: transparent;

        i {
          cursor: pointer;
          opacity: 0.5;
          @include transition(opacity, 0.3s);

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    &__total {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 32px;

        span {
          text-transform: uppercase;
          font-family: 'Lato-Bold';
          font-size: 16px;
          color: $blackColor;
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 100%;
        height: 50px;
        border: solid 1px #eaeaea;
        font-family: 'Lato-Bold';
        font-size: 14px;
        color: #4a4a4a;
        text-transform: uppercase;
        margin-bottom: 11px;
        @include transition(color, 0.3s);
        @include transition(border, 0.3s);

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          color: $pinkColor;
          border: solid 1px $pinkColor;
        }
      }
    }
  }

  &-account {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding-left: 19px;
    padding-right: 12px;
    background-color: $pinkColor;
    @include transition(background-color, 0.3s);

    &:hover {
      background-color: hoverColor($pinkColor);
    }

    i {
      cursor: pointer;
      margin-left: 8px;
      color: $whiteColor;
    }

    &__link {
      display: flex;
      align-items: center;
      width: 82px;
      height: 100%;
      text-decoration: none;
      font-size: 15px;
      letter-spacing: 0.38px;
      color: $whiteColor;
    }
  }

  &-navigation {
    padding-top: 20px;

    &__list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__item {
      margin-right: 48px;
      padding-bottom: 20px;

      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Lato-Bold';
        font-size: 14px;
        color: $blackColor;
        @include transition(color, 0.3s);

        &:hover {
          color: $pinkColor;
        }
      }
    }

    &__item_active {
      border-bottom: 3px solid $pinkColor;
    }
  }
}
