@import '../variables';

.offer {
  display: flex;
  justify-content: center;
  margin-top: 113px;
  margin-bottom: 97px;
  width: 100%;
  min-height: 529px;

  &-wrapper {
    display: flex;
    width: 100%;
    max-width: 1140px;
  }

  &-left {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 70px 50px rgba(0, 0, 0, 0.6);
    background: url('../assets/images/offer-4.png') center no-repeat;
    background-size: cover;

    &__caption {
      display: flex;
      flex-direction: column;
      margin-top: 146px;
      margin-left: 39px;

      &__title {
        font-family: 'Lato-Bold';
        font-size: 53.5px;
        letter-spacing: 1.34px;
        text-transform: uppercase;
        color: $whiteColor;
      }

      &__title_mod {
        color: $pinkColor;
      }

      &__subtitle {
        font-family: 'Lato-Bold';
        font-size: 32px;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        color: $whiteColor;
      }
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 48px 43px 66px 36px;
    height: 100%;
    background-color: $blackColor;

    &__item {
      display: flex;

      &__image {
        margin-right: 31px;

        img {
          display: block;
        }
      }

      &__plus {
        margin-top: 5px;

        &__title {
          margin: 0;
          margin-bottom: 17px;
          font-family: 'Lato-Bold';
          font-size: 20px;
          letter-spacing: 0.5px;
          color: #fbfbfb;
        }

        &__text {
          margin: 0;
          width: 219px;
          font-family: 'Lato-Light';
          font-size: 14px;
          line-height: 1.71;
          letter-spacing: 0.35px;
          color: #fbfbfb;
        }
      }
    }
  }
}

@media screen and (max-width: 884px) {
  .offer {
    &-wrapper {
      flex-direction: column;
    }

    &-left {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-caption {
      margin: 0;
    }

    &-right {
      flex-direction: row;
      padding: 10px 0;
    }

    &-item {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 10px;

      &__image {
        margin-right: 0;
      }

      &__plus {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 17px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 738px) {
  .offer {
    &-left {
      height: 300px;
    }

    &-right {
      flex-direction: column;
      padding: 10px 0;
    }

    /*     &-item {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 10px;

      &__image {
        margin-right: 0;
      }

      &__plus {
        margin-top: 17px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    } */
  }
}
