@import '../variables';

.specification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 73px;

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -85px 0 119px;
    border: 1px solid #eaeaea;
    padding-top: 73px;
    width: 100%;
    background-color: $whiteColor;

    &__details {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__caption {
        position: relative;
        margin: 0;
        margin-bottom: 18px;
        border-bottom: solid 1px #eaeaea;
        padding-bottom: 15px;
        font-family: 'Lato-Bold';
        font-size: 14px;
        text-transform: uppercase;
        color: $pinkColor;

        &::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: -1px;
          width: 63px;
          height: 2px;
          background-color: $pinkColor;
          transform: translate(-50%);
        }
      }

      &__title {
        margin-bottom: 53px;
        font-family: 'Lato-Black';
        font-size: 18px;
        text-transform: uppercase;
        color: #4d4d4d;
      }

      &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 63px;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 43px;

        p {
          margin: 0;
          margin-bottom: 28px;
          width: 619px;
          font-family: 'Lato-Light';
          font-size: 14px;
          text-align: center;
          color: #5e5e5e;
        }

        div {
          margin-bottom: 37px;

          span {
            font-family: 'Lato-Bold';
            font-size: 14px;
            text-transform: uppercase;
            color: #b9b9b9;

            strong {
              text-transform: uppercase;
              color: #2f2f2f;
            }

            &:last-child {
              margin-left: 44px;
            }
          }
        }

        span {
          font-family: 'Lato-Bold';
          font-size: 24px;
          color: $pinkColor;
        }
      }
    }

    &__form {
      margin-bottom: 122px;
      width: 537px;

      div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;

        div {
          display: flex;
          flex-direction: column;

          span {
            margin-bottom: 16px;
            font-family: 'Lato-Bold';
            font-size: 14px;
            text-transform: uppercase;
            color: #2f2f2f;
          }

          select {
            @include transition(border, 0.3s);

            outline: none;
            border: solid 1px #eaeaea;
            padding-left: 14px;
            width: 144px;
            height: 35px;
            font-size: 14px;
            color: $blackColor;
            background-color: $whiteColor;
            cursor: pointer;

            option {
              font-size: 14px;
              color: $blackColor;

              &:first-child {
                color: #bcbcbc;
              }
            }
          }

          select:focus {
            border: solid 1px $pinkColor;
          }

          input {
            @include transition(background-color, 0.3s);

            outline: none;
            border: solid 1px #eaeaea;
            padding-left: 14px;
            width: 144px;
            height: 35px;
            font-size: 14px;
            color: $blackColor;
            background-color: $whiteColor;

            &::placeholder {
              color: #bcbcbc;
            }

            &:focus {
              background-color: darken($whiteColor, 2%);
            }
          }
        }
      }

      button {
        @include transition(background-color, 0.3s);

        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: 1px solid $pinkColor;
        padding: 16px 0;
        width: 100%;
        font-family: 'Lato-Bold';
        font-size: 16px;
        color: $pinkColor;
        background-color: $whiteColor;
        cursor: pointer;

        svg {
          display: block;
          margin-right: 15px;
        }

        &:hover {
          color: $whiteColor;
          background-color: hoverColor($pinkColor);

          svg path {
            fill: $whiteColor;
          }
        }

        &:active {
          background-color: activeColor($pinkColor);
        }
      }
    }
  }

  &-also {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__caption {
      margin: 0;
      margin-bottom: 72px;
      font-family: 'Lato-Black';
      font-size: 24px;
      text-transform: uppercase;
      color: #4d4d4d;
    }

    &__block {
      display: flex;
      justify-content: space-between;
      width: 100%;

      &__item {
        @include transition(box-shadow, 0.3s);

        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 21px;
        width: 263px;
        cursor: pointer;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          margin: 0;
          margin-bottom: 18px;
          height: 280px;
          background-color: #e9e9e9;

          img {
            @include transition(transform, 0.3s);

            display: block;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }

          &:hover {
            img {
              @include transformScale(1.1);
            }
          }
        }

        &__title {
          margin-bottom: 17px;
          margin-left: 15px;
          font-size: 14px;
          text-transform: uppercase;
          color: #6f6e6e;
        }

        &__price {
          margin-left: 15px;
          font-family: 'Lato-Bold';
          font-size: 16px;
          color: $pinkColor;
        }

        &:not(:last-child) {
          margin-right: 5px;
        }

        &:hover {
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
        }
      }
    }
  }
}
