@import '../variables';

.subscribe {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 438px;

  &-background {
    display: flex;
    justify-content: center;
    width: 1600px;
    background: #aaaaaa url(../assets/images/subscribe-1.png) center no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    height: 100%;
  }

  &-left {
    display: flex;
    margin-bottom: 50px;
    padding-right: 72px;
  }

  &-avatar {
    margin: 0;

    img {
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }

  &-review {
    display: flex;
    flex-direction: column;
    margin-left: 28px;

    &__quote {
      width: 416px;
      margin: 0;
      margin-bottom: 19px;

      p {
        margin: 0;
        font-size: 16px;
        font-style: italic;
        line-height: 1.63;
        letter-spacing: 0.4px;
        color: $blackColor;
      }
    }

    &__author {
      font-family: 'Lato-Bold';
      font-size: 16px;
      letter-spacing: 0.4px;
      color: $pinkColor;
    }

    &__about {
      margin-bottom: 41px;
      font-family: 'Lato-Light';
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.3px;
      color: $blackColor;
    }

    &__pagination {
      display: flex;

      span {
        display: block;
        width: 38px;
        height: 4px;
        margin-right: 13px;
        background-color: #d6d6d6;

        &:nth-child(2) {
          background-color: $pinkColor;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 92px;
    border-left: 1px solid #e6e6e6;
  }

  &-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;

    &__caption {
      margin: 0;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: normal;
      letter-spacing: 0.6px;
      color: $blackColor;
    }

    &__subcaption {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 0.35px;
      color: $blackColor;
    }
  }

  &-form {
    display: flex;
    height: 46px;
    border-radius: 23px;

    input {
      width: 293px;
      height: 100%;
      padding-left: 28px;
      background-color: #e1e1e1;
      outline: none;
      border: none;
      border-top-left-radius: 23px;
      border-bottom-left-radius: 23px;
      opacity: 0.67;
      font-size: 14px;
      letter-spacing: 0.35px;
      color: $blackColor;
      @include transition(background-color, 0.3s);

      &:focus {
        background-color: darken(#e1e1e1, 2%);
      }

      &::placeholder {
        color: #a4a4a4;
      }
    }

    button {
      height: 100%;
      padding: 0 21px;
      cursor: pointer;
      outline: none;
      border: none;
      border-top-right-radius: 23px;
      border-bottom-right-radius: 23px;
      background-color: $pinkColor;
      color: $whiteColor;
      @include transition(background-color, 0.3s);

      &:hover {
        background-color: hoverColor($pinkColor);
      }

      &:active {
        background-color: activeColor($pinkColor);
      }
    }
  }
}
