.info {
  display: flex;
  width: 100%;
  padding: 109px 0 89px 0;
}

.info-left {
  max-width: 427px;
  margin-right: 64px;
}

.info-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222222;
}

.info-logo__image {
  img {
    display: block;
  }
}

.info-logo__title {
  text-transform: uppercase;
  font-family: 'Lato-Light';
  font-size: 27px;
  line-height: 1.19;
  letter-spacing: 0.68px;
  color: #222222;
  margin-left: 13px;

  &:last-child {
    margin-left: 0;
  }
}

.info-logo__title_last-letter {
  color: #f16d7f;
  font-family: 'Lato-Black';
}

.info-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.35px;
  color: #898989;
  font-family: 'Lato-Light';
}

.info-right {
  display: flex;
}

.info-column {
}

.info-column__title {
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.45px;
  font-family: 'Lato-Bold';
  color: #f16d7f;
  text-transform: uppercase;
}

.info-column__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.info-column__item {
  font-size: 16px;
  line-height: 2.63;
  letter-spacing: 0.4px;
  color: #898989;
}
