@import '../variables';

.banner {
  display: flex;
  justify-content: center;
  padding: 65px 0;
  background-color: #f8f3f4;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
  }

  &-caption {
    text-transform: uppercase;
    font-family: 'Lato-Black';
    font-size: 24px;
    color: $pinkColor;
  }

  .banner-navigation__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .banner-navigation__item {
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Lato-Light';
      font-size: 14px;
      color: #636363;

      &:hover {
        color: $pinkColor;
      }
    }
  }

  .banner-navigation__item_active {
    a {
      font-family: 'Lato-Bold';
      color: $pinkColor;
    }
  }
}
