@import '../variables';

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 24px 0;
  background-color: #e6e6e6;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
  }

  &-copy {
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #7a7a7a;
  }

  &-icons {
    display: flex;
    align-items: center;
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    text-decoration: none;
    background-color: $whiteColor;

    &:last-child {
      margin-right: 0;
    }

    i {
      color: #b2b2b2;

      &::before {
        display: block;
      }
    }

    &:hover {
      background-color: $pinkColor;

      i {
        color: $whiteColor;
      }
    }

    &:active {
      background-color: #eeeeee;

      i {
        color: #b2b2b2;
      }
    }
  }
}
