@import '../variables';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 25px;

  &-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 26px;
  }

  &-content {
    display: flex;
    align-items: center;
  }

  &-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $blackColor;

    &__image {
      img {
        display: block;
      }
    }

    &__title {
      margin-left: 13px;
      text-transform: uppercase;
      font-family: 'Lato-Light';
      font-size: 27px;
      letter-spacing: 0.68px;
      color: $blackColor;

      &:last-child {
        margin-left: 0;
      }
    }

    &__title_last-letter {
      font-family: 'Lato-Black';
      color: $pinkColor;
    }
  }

  &-search {
    display: flex;
    align-items: center;
    height: 38px;
    margin-left: 37px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;

    &__browse {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 87px;
      height: 100%;
      cursor: pointer;
      background-color: #f9f9f9;

      &:hover {
        background-color: hoverColor(#f9f9f9);
      }

      span {
        font-family: 'Lato-Light';
        font-size: 14px;
        letter-spacing: 0.35px;
        color: $blackColor;
      }

      i {
        display: flex;
        align-items: center;
        margin-left: 8px;
        color: #838383;
      }
    }

    &__form {
      display: flex;
      height: 100%;

      input {
        width: 280px;
        height: 100%;
        padding-left: 14px;
        outline: none;
        border: none;
        border-left: solid 1px #e6e6e6;
        border-right: solid 1px #e6e6e6;
        font-family: 'Lato-Light';
        font-size: 14px;
        letter-spacing: 0.35px;
        color: $blackColor;

        &:focus {
          background-color: darken($whiteColor, 2%);
        }

        &::placeholder {
          color: #a4a4a4;
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37px;
        height: 100%;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: $whiteColor;

        &:hover {
          background-color: hoverColor($whiteColor);
        }

        &:active {
          background-color: activeColor($whiteColor);
        }

        i {
          color: #a4a4a4;
        }
      }
    }
  }

  &-cart {
    img {
      display: block;
    }
  }

  &-account {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding-left: 19px;
    padding-right: 12px;
    background-color: $pinkColor;

    &:hover {
      background-color: hoverColor($pinkColor);
    }

    i {
      margin-left: 8px;
      color: $whiteColor;
    }

    &__link {
      width: 82px;
      text-decoration: none;
      font-size: 15px;
      letter-spacing: 0.38px;
      color: $whiteColor;
    }
  }

  &-navigation {
    padding-top: 20px;

    &__list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__item {
      margin-right: 48px;
      padding-bottom: 20px;

      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Lato-Bold';
        font-size: 14px;
        color: $blackColor;

        &:hover {
          color: $pinkColor;
        }
      }
    }

    &__item_active {
      border-bottom: 3px solid $pinkColor;
    }
  }
}
