.footer {
  padding: 33px 0;
  display: flex;
  width: 100%;
  background-color: #e6e6e6;
  justify-content: center;
}

.footer-wrapper {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
}

.footer-copy {
  font-size: 16px;
  line-height: 2.63;
  letter-spacing: 0.4px;
  color: #7a7a7a;
}

.footer-icons {
  display: flex;
  align-items: center;
}

.footer-icon {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }

  i {
    color: #b2b2b2;
  }
}
