.deal {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-image: url(../../../assets/images/deal-1.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 665px;
}

.deal-wrapper {
  width: 100%;
  max-width: 1140px;
  display: flex;
  align-items: center;
}

.deal-block {
  border-left: 20px solid #f16d7f;
  display: flex;
  flex-direction: column;
  padding-left: 19px;
}

.deal-block__title {
  margin: 0;
  font-size: 60px;
  letter-spacing: 1.5px;
  color: #222222;
  text-transform: uppercase;
}

.deal-block__subtitle {
  font-size: 40px;
  letter-spacing: 1px;
  color: #222222;
  text-transform: uppercase;
}

.deal-block__subtitle_last-word {
  color: #f16d7f;
  margin-left: 0;
}
