@import '../../variables';

.fetured {
  display: flex;
  justify-content: center;
  width: 100%;

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1140px;
  }

  &-caption {
    margin: 0;
    font-family: 'Lato-Bold';
    font-size: 30px;
    letter-spacing: 0.75px;
    color: $blackColor;
  }

  &-subcaption {
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 0.35px;
    color: #9f9f9f;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 31px;
    margin-bottom: 39px;
    padding-bottom: 21px;

    &:nth-child(4) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.16);

      .fetured-item__cart {
        display: flex;
      }

      .fetured-item__image {
        img {
          filter: brightness(30%);
        }
      }
    }
  }

  &-item__image {
    img {
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }

  &-item__cart {
    position: absolute;
    left: 70px;
    top: 94px;
    right: 70px;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 39px;
    border: solid 1px $whiteColor;
  }

  &-item__cart__image {
    img {
      display: block;
      width: 23px;
      height: 23px;
    }
  }

  &-item__cart__title {
    margin-left: 8px;
    font-family: 'Lato-Bold';
    font-size: 13px;
    color: $whiteColor;
  }

  &-item__title {
    margin-top: 19px;
    margin-left: 15px;
    text-transform: uppercase;
    font-family: 'Lato-Bold';
    font-size: 13px;
    color: $blackColor;
  }

  &-item__price {
    margin-top: 17px;
    margin-left: 15px;
    font-family: 'Lato-Bold';
    font-size: 16px;
    color: $pinkColor;
  }

  &-link {
    display: flex;
    align-items: center;
    height: 48px;
    text-decoration: none;
    background-color: $pinkColor;

    &:hover {
      background-color: hoverColor($pinkColor);
    }

    span {
      margin-left: 24px;
      font-family: 'Lato-Bold';
      font-size: 16px;
      line-height: 3.38;
      letter-spacing: 0.4px;
      color: $whiteColor;
    }

    i {
      margin: 0 19px 0 9px;
      color: $whiteColor;
    }
  }
}
