* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato-Regular', Arial, Helvetica, sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  margin: auto;

  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button {
    -webkit-appearance: none;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
