@import './fonts.scss';
@import './blocks/catalog/catalog.scss', './blocks/deal/deal.scss',
  './blocks/fetured/fetured.scss', './blocks/footer/footer.scss',
  './blocks/header/header.scss', './blocks/info/info.scss',
  './blocks/offer/offer.scss', './blocks/subscribe/subscribe.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato-Regular', Tahoma, Geneva, Verdana, sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
